.annotation {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef7058;

  transform: translate(-50%, -50%);
  border-radius: 9999px;

  width: 32px;
  height: 32px;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 251ms;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms, visibility 251ms;
}
